@import './styles';

.parrot {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: inline-block;
}


.parrotgridblock{
    display: inline-flex;
}



table{
    border-collapse: collapse;
}

.bordered{
    border: 1px solid black;
    width: 32px;
    height: 32px;
}
