<h1>Parrotparty</h1>
<parrotselector></parrotselector>
<div class="parrotgridblock">
    <div id="settings">
        <label for="grid-width">Width: {{userWidth}}</label><br>
        <input (input)="setUserWidth(widthRange.value)" #widthRange type="range" min="5" max="15" id="grid-width" value="{{userWidth}}"><br>
        <label for="grid-height">Height: {{userHeigth}}</label><br>
        <input (input)="setUserHeigth(heightRange.value)" #heightRange type="range" min="5" max="15" id="grid-height" value="{{userHeigth}}"><br>
        <input type="button" value="Save" (click)="setGridSize(widthRange.value, heightRange.value)"><br>
        <input type="button" value="Toggle Grid" (click)="displayGrid = !displayGrid"><br>
    </div>
    <div class="grid">
        <table (mousedown)="enterDrawingMode($event)" (mouseup)="exitDrawingMode($event)" (mouseenter)="disableDrawingModeIfMouseUp($event)">
            <tr *ngFor="let row of getRows()">
                <td [class.bordered]="displayGrid" *ngFor="let cell of row">
                    <div class="parrot" *ngIf="!cell.parrot" (click)="cellClick(cell.col, cell.row)" (mousemove)="cellDrag(cell.col, cell.row)">

                    </div>
                    <div *ngIf="cell.parrot" (click)="cellClick(cell.col, cell.row)" (mousemove)="cellDrag(cell.col, cell.row)" class="parrot"
                        [ngStyle]="{'background-image': 'url(' + cell.parrot.path + ')'}">

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="output">
    <input type="button" value="Create slack snippet" (click)="createSlackString()"><br>
    <textarea readonly="readonly">{{slackString}}</textarea>
</div>